<a href="https://colab.research.google.com/github/Zuby128/python_homeworks/blob/main/python_homework_14problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"45".isdigit()

True

In [1]:
# problem_1
num_1 = float(input("enter num1: "))
num_2 = float(input("enter num2: "))
num_3 = float(input("enter num3: "))
print(f"{num_1} X {num_2} X {num_3} = {num_1*num_2*num_3}")

enter num1: 5
enter num2: 66
enter num3: 5
5.0 X 66.0 X 5.0 = 1650.0

In [2]:
# problem_2
weight = float(input("enter weight by kilogram: "))
height = float(input("enter height by meter: "))
print(f"Body mass index: {weight/(weight*height):.3f}")

enter weight by kilogram: 75
enter height by meter: 1.75
Body mass index: 0.571

In [3]:
# problem_3
bought_items = int(200 / 11)
money_left = 200 % 11
print(f"can buy {bought_items} items, $ {money_left} left")

can buy 18 items, $ 2 left

In [5]:
# problem_4
var_one = float(input("number one: "))
var_two = float(input("number two: "))
var_one, var_two = var_two, var_one
print(f"var_one: {var_one}, var_two: {var_two}")

number one: 5
number two: 4
var_one: 4.0, var_two: 5.0

In [6]:
# problem_5
x = float(input("enter number for x: "))
y = float(input("enter number for y: "))
print(f"(x - y) * (x + y) = {(x - y) * (x + y):.2f}")

enter number for x: 5
enter number for y: 5
(x - y) * (x + y) = 0.00

In [7]:
# problem_6
word = input("enter word: ")
sep = input("enter sep: ")
repetition = int(input("enter repetition number: "))
word = [word] * repetition
print(*word, sep = f"{sep}")

enter word: ali
enter sep: /
enter repetition number: 3
ali/ali/ali

In [8]:
# problem_7
word = input("enter word: ")
number = int(input("enter number: "))
print(word[-number:]*number)

enter word: clarusway
enter number: 5
uswayuswayuswayuswayusway

In [9]:
# problem_8
number = int(input("enter number: "))
if (number % 3 == 0) and (number % 5 != 0):
    print("Clarus")
elif (number % 5 == 0) and (number % 3 != 0):
    print("way")
elif (number % 5 == 0) and (number % 3 == 0):
    print("Clarusway")
else:
    print(number)

enter number: 6
Clarus

In [10]:
# problem_9
letters = "abclarusxyz"
print(letters[2:-3])
print(letters[0:3][::-1])
print(letters[-8:][::-1])

clarus
cba
zyxsural

In [11]:
# problem_10
rand_list = [1,[1, 2, "Clarus", [2, "way"]], " is the best"]
print(rand_list[1][2] + rand_list[1][3][1] + rand_list[2])

Clarusway is the best

In [12]:
# problem_11
num_list = [2, 3, 1, 5, 6, 4, 9, 8, 10]
num_list=set(sorted(num_list))
missing_num = set(range(1, 11)).difference(num_list)
print(f"missing number is {missing_num}")

missing number is {7}

In [13]:
# problem_12
old = { "Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29 }
biggest_age = sorted(old.values(), reverse=True)
for name, age in old.items():
  if (biggest_age[0] == age):
    print(name)

Emma

In [14]:
# Problem 13
my_dict = {'data1':100,'data2':-54,'data3':247}
total_keys = []
num_total = 0
for key, num in my_dict.items():
  total_keys.append(key)
  num_total += num
print(f"{'+'.join(total_keys)} = {num_total}")

data1+data2+data3 = 293

In [15]:
# Problem 14
nums1 = [1, 1, 3, 4, 4, 5, 6, 7] 
nums2 = [0, 1, 2, 3, 4, 4, 5, 7, 8]
length = len(nums1) + len(nums2) 
total = sum(nums1+nums2)
print(f"{total/length:.3f}")

3.824